appdirs==1.4.4
certifi==2020.6.20
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.4
numpy==1.19.1
Pillow==8.1.2
pygubu==0.10.6
pygubu-designer==0.13
pyparsing==2.4.7
pyperclip==1.8.1
python-dateutil==2.8.1
scipy==1.5.2
six==1.15.0
